[Desktop Entry]
Type=Application
Name=qbTool
Comment=Graphical interface for setting, testing or debugging qbrobotics devices
Exec=qbTool
Icon=qbTool
Categories=Robotics;
